* {
    margin: 0;
}

/************* INTEGRATION POLICE D'ÉCRITURE **************/
@font-face {
    font-family: "Pixelade";
    src: url("../fonts/Pixelade.TTF");
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: black;
    background-image: url(../img/BG-image-portfolioO.webp); /* Ajout d'une image en fond */
    background-size: contain; /* Redimensionne l'image de fond pour qu'elle soit entièrement visible */
    background-repeat: no-repeat; /* Empêche l'image de fond de se répéter. */
}

#logo_cp {
    height: 3vw;
    width: 3vw;
    padding-right: 42vw;
    /* margin-left: 3rem; */
}

header {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
    position: sticky; /* Force la Nav Bar a rester en position fixe */
    top: 0; /* Position de la Nav Bar au haut de la page */
    left: 0;
    width: 100%;
}

nav a {
    text-decoration: none;
    color: white;
    font-family: "anta"; /* Appel d'une de mes police d'écriture venant d'être intégrer */
    font-size: 1.5vw; /* Modification de la taille du texte */
    margin:0 1rem;
    filter: drop-shadow(#00C8FF 2.5px 2.5px 1.25px); /* Ombres pour l'écriture */
}

#Accueil {
    text-align: center;
}

h1 {
    color: white;
    font-family: "anta"; /* Appel d'une de mes police d'écriture venant d'être intégrer */
    font-size: 5vw; /* Modification de la taille du texte */
    margin-top: 14vw;
    filter: drop-shadow(#00C8FF 3px 3px 1.25px); /* Ombres pour l'écriture */
    font-weight: 300;
}

h2 {
    color: white;
    font-family: "Pixelade"; /* Appel d'une de mes police d'écriture venant d'être intégrer */
    font-size: 4vw; /* Modification de la taille du texte */
    font-weight: 100; /* Réduction de l'épaisseur de mon texte */
    margin-top: 2vw;
    filter: drop-shadow(#00C8FF 2px 3px 1.25px); /* Ombres pour l'écriture */
}

#button_vp {
    margin-top: 4vw;
    padding: 1.25vw 2.5vw;
    font-size: 2vw; /* Modification de la taille du texte */
    font-family: "anta"; /* Appel d'une de mes police d'écriture venant d'être intégrer */
    background-color: rgba(0, 0, 0, 0.678); /* Fond de mon bouton transparent */
    border: 3px solid #00C8FF;
    border-radius: 0.60rem; /* Arrondissement des bordures */
}

#button_vp a {
    text-decoration: none; /* Suppression du soulignement de texte */
    color: white;
    filter: drop-shadow(#00C8FF 2px 3px 1.25px); /* Ombres pour l'écriture */
}

#button_vp:hover {
    background-color: rgba(255, 255, 255, 0.849); /* Change la couleur du fond du bouton en blanc au survol */
}

#button_vp:hover a {
    color: black; /* Changer la couleur du texte en noir au survol */
}

#Infos {
    margin-top: 40vw;
    color: white;
}

h3 {
    text-align: center;
    font-family: "Pixelade"; /* Appel d'une de mes police d'écriture venant d'être intégrer */
    font-size: 60px; /* Modification de la taille du texte */
    font-weight: 100; /* Réduction de l'épaisseur de mon texte */
    margin-top: 2rem;
    filter: drop-shadow(#00C8FF 2px 3px 1.25px); /* Ombres pour l'écriture */
    color: white;
}

#pre_container {
    width: 80%;
}

#code_style_container {
    margin-top: 8rem;
    margin-bottom: 15rem;
    margin-left: 12vw;
    width: 90%;
    word-spacing: 0.15vw; /* Modification de l'espace entre les mots */
}

pre {
    width: 95%;
    margin-top: 5rem;
    line-height: 1.75rem; /* Modification de l'espace entre les lignes de mon texte */
    white-space: pre-wrap; /* Permet au texte de passer à la ligne si nécessaire */
    word-wrap: break-word; /* Casse les longs mots si nécessaire */
    overflow-wrap: break-word;
}

.blue_color {
    color: #4996D6;
    font-size: 20px; /* Modification de la taille du texte */
}

.grey_color {
    color: #848484;
    font-size: 20px; /* Modification de la taille du texte */
}

.blue_color2 {
    color: #00C8FF;
}

.text_modif {
    font-family: "Pixelade"; /* Appel d'une de mes police d'écriture venant d'être intégrer */
    font-size: 28px; /* Modification de la taille du texte */
}

.text_with_margin {
    font-family: "Pixelade"; /* Appel d'une de mes police d'écriture venant d'être intégrer */
    font-size: 28px; /* Modification de la taille du texte */
}

#skills {
    font-family: "anta"; /* Appel d'une de mes police d'écriture venant d'être intégrer */
    color: white;
    font-size: 28px; /* Modification de la taille du texte */
}

#skills_container {
    margin-top: 5rem;
    display: flex; /* Utilisation de flexbox pour créer 2 colonnes */
    justify-content: center; /* Centre les div horizontalement */
    gap: 20.5vw; /* Ajoute un espace entre les deux sections Front-End et Back-End */
}


#skills_container progress {
    width: 20.5vw;
}

.skills_class {
    text-align: center;
    margin-bottom: 3rem;
}

#skills_class2 {
    text-align: center; /* Alignement de mon texte au centre du conteneur */
    margin-bottom: 3rem;
    margin-top: 5rem;
}

.name_skills {
    font-size: 18px; /* Modification de la taille du texte */
}

#skills_container2 {
    width: 20.6vw; /* Modification de la largeur de ma barre de progression */
    margin: auto; /* Alignement de mon texte au centre de ma page */
    margin-bottom: 15rem;
}

progress::-webkit-progress-bar {
    background-color: white; /* Couleur de la barre non remplie */
}

progress {
    background-color: white; /* Couleur de la barre non remplie */
}

progress::-webkit-progress-value {
    background-color: #00C8FF; /* Couleur de la partie remplie */
}

progress::-moz-progress-bar {
    background-color: #00C8FF; /* Couleur de la partie remplie */
}

progress {
    height: 0.75rem; /* Modification de la hauteur de ma barre de progression */
    width: 100%;
    border-radius: 0.4vh; /* Arrondit les bordures */
    overflow: hidden; /* Empêche les coins arrondis de dépasser */
    margin-bottom: 2rem;
}

#projects {
    width: 70%; /* Permet de modifier la largeur de mon conteneur */
    margin: auto; /* Permet de centrer la section "Projects" */
}

.image_container {
    margin-top: 5rem;
    display: grid; /* Utilise Grid pour organiser les images */
    grid-template-columns: repeat(3, 1fr); /* 3 colonnes de même taille */
    justify-items: center; /* Permet de centrer les images */
    column-gap: 1rem; /* Ajuste l'espace entre les colonnes */
}

.image_container img {
    height: 17rem; /* Modifie la taille de l'image */
    width: 90%; /* Permet de modifier la largeur de mon conteneur */
    object-fit: contain; /* Remplit l'espace sans déformer l'image */
    border: 4px solid #00C8FF; /* Ajout de bordure à l'image */
}

#contact {
    margin-top: 15rem;
    width: 100%;
}

#form {
    color: white;
    text-align: center; /* Permet de centrer mon texte au milieu de la page */
    font-family: "anta"; /* Appel d'une de mes police d'écriture venant d'être intégrer */
    font-size: 18px; /* Modification de la taille du texte */
    width: 45vw;
    margin: auto; /* Permet de mettre mon bloc au centre */
    margin-top: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 2rem; /* Arrondit les bords */
    background-color: rgba(0, 200, 255, 0.384);
}

.form-container {
    display: flex;
    justify-content: space-between; /* Position entre les colonnes */
    gap: 2rem; /* Espace entre les colonnes */
}

.form-left,
.form-right {
    flex: 1; /* Chaque colonne occupe la moitié de l'espace */
    padding: 1.5rem 2rem;
}

.form-left div,
.form-right div {
    margin-bottom: 1rem;
    margin-left: -1rem;
}

form label {
    display: block; /* Permet de mettre le label au-dessus de l'input */
    text-align: left;
}

form input {
    width: 70%; /* Les inputs prennent toute la largeur de la colonne */
    padding: 0.5rem;
    border: 2px solid #00C8FF; /* Ajout de bordure sur les input avec leur couleur */
    border-radius: 0.5rem; /* Arrondit les bordures */
    box-sizing: border-box; /* Pour s'assurer que padding et largeur ne causent pas de débordement */
    background-color: transparent; /* Fond des input transparent */
}

form textarea {
    width: 85%; /* Les inputs prennent toute la largeur de la colonne */
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 2px solid #00C8FF; /* Ajout de bordure sur le textarea avec sa couleur */
    box-sizing: border-box; /* Pour s'assurer que padding et largeur ne causent pas de débordement */
    background-color: transparent; /* Fond du textarea transparent */
    height: 8rem; /* Modifie la hauteur du champ de text */
    margin-right: 2rem;
}

/***************************** SELECTION DE LA 2ÈME DIV DE MON FORMULAIRE *****************************/
.form-left div:nth-child(2) {
    margin-left: 3rem;
    margin-top: 2.8rem;
    width: 102%;
}

/***************************** SELECTION DE LA 3ÈME DIV DE MON FORMULAIRE *****************************/
.form-left div:nth-child(3) {
    margin-top: 2.8rem;
    width: 102%;
}

/***************************** SELECTION DE LA 4ÈME DIV DE MON FORMULAIRE *****************************/
.form-left div:nth-child(4) {
    margin-left: 3rem;
    margin-top: 2.8rem;
    width: 102%;
}

/***************************** SELECTION DU 1ER LABEL DE MON FORMULAIRE *****************************/
.form-left div:nth-child(1) label {
    margin-left: 3.7rem;
}

/***************************** SELECTION DU 2ÈME LABEL DE MON FORMULAIRE *****************************/
.form-left div:nth-child(2) label {
    margin-left: 3.6rem;
}

/***************************** SELECTION DU 3ÈME LABEL DE MON FORMULAIRE *****************************/
.form-left div:nth-child(3) label {
    margin-left: 3.7rem;
}

/***************************** SELECTION DU 4ÈME LABEL DE MON FORMULAIRE *****************************/
.form-left div:nth-child(4) label {
    margin-left: 3.5rem;
}

#icone_mail {
    height: 2vh; /* Modification de la taille de l'image avec son id */
    margin-top: 0.2rem;
    margin-left: 0.7rem;
    padding-right: 0.3rem;
}

#icone_phone {
    height: 2.5vh; /* Modification de la taille de l'image avec son id */
    width: 2.4vh; /* Modification de la largeur de l'image */
    margin-left: 0.7rem;
    padding-right: 0.5rem;
}

#num_phone {
    font-size: 15px; /* Modification de la taille de la police avec son id */
}

#icone_house {
    height: 2.5vh; /* Modification de la taille de l'image avec son id */
    width: 2.4vh; /* Modification de la largeur de l'image */
    margin-left: 0.7rem;
    padding-right: 0.5rem;
}

#adress {
    font-size: 17px; /* Modification de la taille de la police avec son id */
    margin-top: 0.1rem;
}

#postal_code {
    font-size: 15px; /* Modification de la taille de la police avec son id */
}

/***************************** SELECTION DE LA 2ÈME DIV DE MA COLONNE DE DROITE (FORMULAIRE) *****************************/
.form-right .contact-container:nth-of-type(2) {
    margin-top: 1.7rem;
    margin-right: 2.5rem;
}

/***************************** SELECTION DE LA 3ÈME DIV DE MA COLONNE DE DROITE (FORMULAIRE) *****************************/
.form-right .contact-container:nth-of-type(3) {
    margin-top: 1.5rem;
    margin-right: 2rem;
}

/***************************** SELECTION DE LA 4ÈME DIV DE MA COLONNE DE DROITE (FORMULAIRE) *****************************/
.form-right .contact-container:nth-of-type(4) {
    margin-top: 1.5rem;
    margin-right: 1.9rem;
}

.form-right label {
    margin-left: 1rem;
}

#logo_socials {
    display: flex; /* Permet de mettre mes 3 images sur la même ligne en utilisant le flexbox */
    justify-content: space-evenly; /* Permet de gérer l'espace entre mes 3 images */
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

#logo_socials img {
    height: 3rem; /* Modifie la taille de base de mes 3 images */
    display: block;
}

/***************************** SELECTION DE LA 1ÈRE IMAGE DES LOGOS (FORMULAIRE) *****************************/
#logo_socials img:nth-child(1) {
    height: 3.2rem; /* Modifie la taille plus précisément de l'image 1 */
}

/***************************** SELECTION DE LA 2ÈRE IMAGE DES LOGOS (FORMULAIRE) *****************************/
#logo_socials img:nth-child(2) {
    height: 3.4rem; /* Modifie la taille plus précisément de l'image 2 */
}

footer ul {
    padding: 3rem;
    list-style-type: none; /* Suppression du style des listes */
    display: flex; /* Utilisation de flexbox pour aligner mes éléments cote à cote */
    justify-content: center; /* Centre tous mes élements */
    white-space: nowrap; /* Empêche le retour à la ligne des éléments */
}

footer a {
    color: white;
    text-decoration: none; /* Suppression du soulignement de texte */
    font-family: "anta"; /* Appel d'une de mes police d'écriture venant d'être intégrer */
    font-size: 20px;
    padding: 0 2vw;
}

footer li {
    margin-top: 1.2rem;    
}

.dividing_bar {
    margin-bottom: 15rem;
    margin-left: 30%;
    margin-right: 30%;
    box-shadow: 0px 0px 10px 5px #00C8FF; /* Ajout d'ombres autour de ma barre de séparation */
}

.dividing_bar2 {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 15rem;
    box-shadow: 0px 0px 10px 5px #00C8FF; /* Ajout d'ombres autour de ma barre de séparation */
}

@media (max-width: 1644px) {
    #code_style_container {
        margin-left: 15vw; /* Réduit la marge gauche sur les petits écrans */
    }

    pre {
        margin-top: 5rem;
        line-height: 1.75rem; /* Modification de l'espace entre les lignes de mon texte */
        white-space: pre-line; /* Permet au texte de passer à la ligne si nécessaire */
    }

    .text_with_margin {
        display: block; /* Permet de faire en sorte que le span occupe toute la largeur */
        margin-left: 11.5rem; /* Ajuste l'espace à gauche selon tes besoins */
        margin-bottom: -1rem;
    }

    .margin_left_side1 {
        margin-left: 3rem;
    }

    .margin_left_side2 {
        margin-left: 6rem;
    }

    .margin_left_side3 {
        margin-left: 9rem;
    }

    .margin_left_side4 {
        margin-left: 20rem;
    }
}

@media (max-width: 1440px) {
    .image_container {
        grid-template-columns: repeat(2, 1fr);
    }

    .image_container img:nth-child(3) {
        margin-top: 3.5rem;
    }
}

@media (max-width: 1280px) {
    #form {
        min-width: 750px;
    }

    .form-container {
        display: block;  
        padding-right: 2.5rem;      
    }

    .form-left {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .responsive-left:nth-child(1) {
        margin-top: 2.8rem;
    }

    .form-right div {
        margin-left: 4.5rem;
    }

    form input {
        width: 90%;
    }

    form div:nth-child(3) input {
        padding-left: 13.4vw;
        margin-left: 0.8rem;
    }
}

@media (max-width: 1024px) {
    footer a {       
        font-size: 17px;
    }
}

@media (max-width: 768px) {
    body {
    background-size: contain; /* Redimensionne l'image de fond pour qu'elle soit entièrement visible */
    background-repeat: no-repeat; /* Empêche l'image de fond de se répéter. */
    width: 100%;
    }

    #form {
        min-width: 80vw;
    }

    footer {
        text-align: center;

    }

    footer ul {
        display: inline-block;
        text-align: center;
    }

    footer li {
        padding: 1rem 0;
    }
}

@media (max-width: 450px) {
    .blue_color {
        font-size: 16px; /* Modification de la taille du texte */
    }
    
    .grey_color {
        font-size: 16px; /* Modification de la taille du texte */
    }

    .text_modif {
        font-size: 24px; /* Modification de la taille du texte */
    }
    
    .text_with_margin {
        font-size: 24px; /* Modification de la taille du texte */
    }

    #code_style_container {
        margin-left: 3rem;
    }

    .form-left {
        width: 100%; /* Prendre toute la largeur */
        display: flex;
        flex-direction: column; /* Colonne pour les inputs */
        align-items: center; /* Centrer les inputs */
    }

/***************************** SELECTION DE LA 2ÈME DIV DE MON FORMULAIRE *****************************/
    .form-left div:nth-child(1) input {
        padding: 0.5rem 3rem;    
    }

/***************************** SELECTION DE LA 2ÈME DIV DE MON FORMULAIRE *****************************/
    .form-left div:nth-child(2) {
        margin-left: -1rem;
        width: 84%;
    }

/***************************** SELECTION DE LA 2ÈME DIV DE MON FORMULAIRE *****************************/
    .form-left div:nth-child(3) {
        margin-left: -1.8rem;
        width: 84%;
    }
/***************************** SELECTION DE LA 2ÈME DIV DE MON FORMULAIRE *****************************/
    .form-left div:nth-child(4) {
        margin-left: -1rem;
        width: 84%;
    }

    form textarea {
        margin-left: -2.55rem;
        width: 132%;
    }
}